.box {
  display: flex;
  padding: 8px;
  max-width: 128px;

  &.square {
    border-radius: 8px;
  }
  &.circle {
    border-radius: 50%;
  }
  &.gray {
    background: #fafafa;
  }

  &.red {
    background: lightcoral;
  }

  &.blue {
    background: cornflowerblue;
  }

}